.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.reg {
  width: 50%;
}

.card-header {
  border-top: 5px solid rgb(127, 124, 126);
  border-left: 5px solid rgb(127, 124, 126);
  border-right: 5px solid rgb(127, 124, 126);
}

.card-body {
  border-left: 5px solid rgb(127, 124, 126);
  border-bottom: 5px solid rgb(127, 124, 126);
  border-right: 5px solid rgb(127, 124, 126);
}

/* .aboutApp, .profileApp, .loginApp, html {
  background-color: rgb(184, 174, 174);
} */

.center {
  margin-top: 30px;
}

.hh {
display: block !important;
}

.gg {
  justify-content: space-between;
  width: 80%;
}

.searchBox {
  margin-left: auto;
  margin-right: auto;
  width: fit-content
}

.imgalign {
  margin: 5px;
  border-top: 2px solid rgb(127, 124, 126);
  border-left: 2px solid rgb(127, 124, 126);
  border-bottom: 2px solid rgb(127, 124, 126);
  border-right: 2px solid rgb(127, 124, 126);
}

.brown {
  background-color: rgb(93, 182, 81);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.centeritem {
  margin-left: auto;
  margin-right: auto;
}
.inputLine{
  margin-bottom: 1rem;
}