.link {
  text-decoration: none;
  color: inherit;
  font-weight: 750;
}

.link:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#logo {
  width: 5%;
}

#searchBar {
  width: 100%;
}